namespace ConsoleApp12
{
    internal class Program
    {
        static void Main(string[] args)
        {
            string testValue = "Person03";

            bool isPasswordValid = CheckPassword(testValue);

            if (isPasswordValid)
            {
                Console.WriteLine("uygundur.");
            }
            else
            {
                Console.WriteLine("uygun deyildir.");
            }
        }
        static bool CheckPassword(string password)
        {
            bool hasDigit = false;
            bool hasUpperCase = false;
            bool hasLowerCase = false;

            foreach (char character in password)
            {
                // 1. En az 1 reqem
                
                if (char.IsDigit(character))
                {
                    hasDigit = true;
                }

                // 2. En az 1 boyuk herf
                if (char.IsUpper(character))
                {
                    hasUpperCase = true;
                }

                // 3. En az 1 kicik herf
                if (char.IsLower(character))
                {
                    hasLowerCase = true;
                }
            }

            // uygundur
            return hasDigit && hasUpperCase && hasLowerCase;
        }


    }
}
